.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1260px;
    }
}

@media (min-width: 767px) {

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-button {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border: thin solid rgb(238, 238, 238);
        box-shadow: 0px 0px 3px #dfdfdf inset;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ccc;
        border: thin solid #ccc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7d7d7d;
    }

}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header-section {
    display: block;
    width: 100%;
    height: 55px;
    background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);

    .brand {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            cursor: pointer;
            color: #1677ff;
            font-size: 30px;
            margin-top: 7px;
            animation: spin 20s linear infinite;
        }
    }

    .top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: transparent;

        .extra {
            .auth {
                display: flex;

                .link {
                    font-size: 16px;
                    margin: 10px;
                }
            }

            .manage {
                display: flex;
                justify-content: center;
                align-items: center;

                .link {
                    margin-right: 20px;
                }
            }

            a,
            span {
                cursor: pointer;
                display: block;
                color: #a7a7a7;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        color: white;
    }
}

.footer-section {
    display: block;
    width: 100%;
    margin-top: 20px;

    .footer-content {
        background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
        display: flex;
        justify-content: space-between;
        padding: 50px;

        .content1 {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;


            img {
                border-radius: 20px;
                width: 30%;
                height: 100px;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                color: #e6dddd;
            }
        }

        .content2 {
            height: 100%;
            width: 100%;
            color: #fff;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 22px;
            }

            a {
                font-size: 18px;
                line-height: normal;
                text-decoration: none;
                color: #e6dddd;
                padding: 10px 0;
            }

            p {
                font-size: 18px;
                line-height: normal;
                padding: 10px 0;
                color: #e6dddd;
            }
        }

        .content3 {
            height: 100%;
            width: 100%;
            color: #fff;

            h2 {
                font-size: 22px;
            }

            a {
                font-size: 18px;
                line-height: normal;
                text-decoration: none;
                color: #e6dddd;
                padding: 10px 0;
            }

            p {
                font-size: 18px;
                line-height: normal;
                padding: 10px 0;
                color: #e6dddd;
            }
        }
    }
}

.card-job-section {
    .empty {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .dflex-mobile {
        display: flex;
        flex-direction: column;
    }

    .dflex-pc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .job-content {
        .card-job-content {
            display: flex;
            width: 100%;
            gap: 10px;

            height: 130px;

            .card-job-left {
                width: 70px;
                margin: 0 auto;

                img {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    width: 50px;
                    height: 50px;
                }
            }

            .card-job-right {
                width: 100%;

                .job-title {
                    overflow: hidden;
                    color: #353535;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    text-align: left;
                    margin-bottom: 10px;
                    line-height: 1.3;
                    transition: .2s all;
                    font-size: 17px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .job-location {
                    padding-bottom: 5px;
                }

                .job-updatedAt {
                    display: block;
                    float: right;
                    color: #919191;
                }
            }
        }
    }
}

.company-section {
    .company-content {
        padding-top: 50px;

        .card {
            background: #ddd;
            height: 400px;

            .card-customize {
                height: 200px;
                width: 200px;
                margin: 20px auto 20px auto;


                img {
                    overflow: hidden;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    height: 200px;
                    width: 200px;
                }
            }
        }

    }

}


.home-section {

    .empty {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .dflex-mobile {
        display: flex;
        flex-direction: column;
    }

    .dflex-pc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 27px;
        font-family: "Roboto", sans-serif;
        color: #353535;
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.detail-job-section {
    .left-col {
        border-radius: 10px;
        background: #f3f3f3;
        margin-top: 30px;
        margin-right: 50px;

        height: 700px;
        overflow: auto;

        .header {
            margin: 20px 0;
            color: #353535;
            font-size: 27px;
        }

        .btn-apply {
            width: 100%;
            cursor: pointer;
            text-align: center;
            color: #fff;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            font-size: 20px;
            padding: 10px 15px;
            border: 0;
            border-radius: 5px;
            background-color: #ea1e30;
            -webkit-font-smoothing: antialiased;
            outline: 0;

            &:hover {
                background-color: #d82727;
            }
        }

        .btn-chat {
            width: 20%;
            cursor: pointer;
            text-align: center;
            color: #fff;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            font-size: 20px;
            padding: 10px 15px;
            margin-top: 20px;
            border: 0;
            border-radius: 5px;
            background-color: #1eea62;
            -webkit-font-smoothing: antialiased;
            outline: 0;

            &:hover {
                background-color: #30b811;
            }
        }

        .salary {
            padding: 15px 0;
        }

        .location {
            padding-bottom: 15px;
        }

        h2 {
            font-size: 23px;
            color: #353535;
            font-weight: 400;
            margin: 25px 0 0;
        }

        ul {
            padding-left: 2rem;
        }

        li {
            line-height: 2em;
        }

        p {
            color: #3a3a3a;
            font-size: 16px;
            line-height: 1.7em;
            width: 100%;
            line-height: 2em;
        }

    }

    .right-col {
        border-radius: 10px;
        margin-top: 30px;
        background: #f3f3f3;
        padding: 20px;

        height: 510px;

        .company {
            .logo-name {
                display: flex;
                align-items: center;


                .logo {

                    margin-right: 20px;

                    img {
                        width: 100px;
                        height: 100px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }

                .name {
                    font-size: 20px;
                }
            }

            .detail {
                display: flex;
                justify-content: space-between;
                padding: 14px 0;
                border-bottom: 1px dashed #313131;

                .detail-label {
                    font-size: 18px;
                    font-weight: 500;
                    opacity: 0.6;
                }

                .detail-content {
                    font-size: 18px;
                }
            }

        }
    }

}

.detail-company-section {
    .company-detail {
        height: 700px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .company {
            margin-top: 20px;
            background: linear-gradient(269.85deg, #54151C 0%, #121212 54.89%);
            border-radius: 5px;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;

            .company-logo {

                img {

                    width: 320px !important;
                    height: 320px;
                    border-radius: 20px;
                }
            }

            .name-location {
                .company-name {
                    font-size: 40px;
                    color: #fff;
                    margin-bottom: 20px;
                }

                .company-location {
                    font-size: 20px;
                    color: #fff;
                }
            }
        }

        .company-introduce {
            background: #f0f0f0;
            padding: 20px;
            border-radius: 5px;
            margin: 20px 0;

            .header {
                margin: 20px 0;
                color: #353535;
                font-size: 27px;
            }

            .intro-detail {
                display: flex;
                justify-content: space-between;

                .detail {
                    margin-top: 10px;
                    font-weight: bold;
                }
            }

            .skills {
                .skill-tag {
                    padding: 4px 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .job {
        height: 700px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .count-job {
            font-weight: 600;
            color: #121212;
            font-size: 20px;
            margin-top: 20px;
        }

        .job-detail {
            margin-top: 20px;

            .card-job-content {
                .job-time {
                    color: #121212;
                    padding-bottom: 10px;
                    font-size: 14px;
                    opacity: 0.7;
                }

                .job-title {
                    padding-bottom: 10px;
                    font-size: 16px;
                    font-weight: bold;
                }

                .job-logo-name {
                    display: flex;
                    justify-items: center;
                    align-items: center;

                    .logo {
                        margin-right: 30px;

                        img {
                            border-radius: 5px;
                            border: 1px solid #ddd;
                            height: 40px;
                            width: 40px;
                        }
                    }

                    .name {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.contact-section {
    .contact {
        background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
        padding: 30px 20px;
        border-radius: 10px;

        .contact-left {
            color: #fff;
            display: flex;
            flex-direction: column;


            .top {
                height: 100%;

                h2 {
                    font-size: 24px;
                    padding: 15px 0;
                    font-weight: bold;
                }

                p {
                    padding: 15px 0;
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .bottom {
                height: 100%;
                background: #fff;
                border-radius: 10px;
                color: #000;
                padding: 20px;

                .header {
                    font-size: 24px;
                    font-weight: bold;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin-bottom: 20px;
                }

                .body {
                    .card {
                        background: #ddd;

                        .card-customize {
                            height: 100px;
                            width: 100px;
                            margin: 10px auto 10px auto;

                            img {
                                overflow: hidden;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                                border-radius: 10px;
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }


        .contact-right {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            margin-left: 40px;
            background: #fff;
            height: 800px;
            border-radius: 10px;
            padding: 20px;

            .item {
                margin-bottom: 20px;
            }
        }

    }
}


.message-section {
    margin-top: 30px;

    .listchat {
        background-color: #f6f6f6;
        height: 500px;
        overflow-y: auto;
        border-right: 6px solid #e8e5e5;

        .selected-item,
        .item {
            padding: 20px;
            cursor: pointer;
            margin: 0;

            &.selected-item {
                width: 100%;
                transition: background-color 0.3s ease;
                background-color: #dcf1fb;

            }
        }
    }

    .listmess {
        height: 500px;
        position: relative;
        padding: 0 20px 40px 20px;

        .listtext {
            overflow-y: auto;
            height: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .divtext {
                display: flex;
                margin: 10px 0;
                width: fit-content;
                max-width: 70%; // or adjust as needed
                border-radius: 10px;
                padding: 10px;
                font-size: 16px;
                line-height: 1.5;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-weight: 600;
            }

            .divtext1 {
                align-self: flex-end;
                background-color: #1890ff;
                color: #fff;
                text-align: left;
                margin-right: 20px;
            }

            .divtext2 {
                align-self: flex-start;
                text-align: left;
                background-color: #f0f0f0;
                color: #000;
            }
        }

        .input-section {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            margin-top: 20px;

            .ant-input {
                width: calc(100% - 150px);
            }

            .ant-btn {
                margin-left: 30px;
                width: 80px;
            }
        }
    }


}

.company-hr-section {
    .company-detail {
        .edit-btn {
            Button {
                background: #99eab4;
            }

            margin-bottom: 10px;
        }

        .company {
            display: flex;
            // background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
            // color: #fff;
            background: #fff;
            padding: 20px;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 20px;
            border-radius: 10px;

            .logo {
                img {
                    border-radius: 5px;
                    border: 1px solid #ddd;
                }
            }

            .name-location {
                font-size: 20px;
                align-items: center;
                justify-content: center;


                .name {
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .location {}
            }
        }

        .company-content {
            //background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
            padding: 20px;
            border-radius: 10px;
            //color: white;
            background: #fff;

            .header {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .company-skills {
            // color: white;
            // background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;

            .header {
                font-size: 20px;
                font-weight: bold;
            }
        }

        .company-des {
            //color: white;
            //background: linear-gradient(277.42deg, #54151C 0%, #121212 43.92%);
            background: #fff;
            padding: 20px;
            border-radius: 10px;

            justify-content: center;
            align-self: flex-start;

            .header {
                font-size: 20px;
                font-weight: bold;
            }

            .des {
                align-self: flex-start;
                text-align: left;
                line-height: 2;
                font-size: 16px;
            }
        }
    }
}